* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border and padding not added to box size*/
}

/* APP STYLING */
.app-container {
  display: flex;
  font-family: 'Raleway', sans-serif;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1000px;
  /* border: 1px solid black; */
  border-radius: 20px;
}

/* CURRENT PLAYER STYLING */
.current-player-section {
  background-image:linear-gradient(to right, rgb(91, 179, 247), rgb(43, 107, 175));
  color: #FFF;
  height: 20vh;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.current-player-section h1 {
  text-align: center;
}

.player-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}